@import url('../fonts/SanFrancisco/stylesheet.css');

:root {
    --f7-navbar-height: 50px;
    --f7-list-item-min-height: 56px
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body {
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.sheet-player .preloader {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    width: 50px;
    height: 50px;
}

.sheet-player .duration, .sheet-player .current-time {
    width: 50px !important;
}

.sheet-player .audio-title {
    font-size: 23px;
    font-weight: bold;
    white-space: normal;
}

.sheet-player .audio-title-medium {
    font-size: 18px;
}

.sheet-player .audio-title-small {
    font-size: 16px;
}

.sheet-player .audio-controls i {
    font-size: 55px;
}

.sheet-player {
    height:430px;
    --f7-sheet-bg-color: #fff;
}

.toolbar-player {
    z-index: 9999;
    font-size: 18px;
    --f7-toolbar-height: 70px;
    background: #f7f7f8 !important;
}

.toolbar-player .row {
    width: 100%;
}

.toolbar-player .controls {
    background: #f7f7f8;
    z-index: 9;
}

.toolbar-player .audio-title {
    height: 70px;
    line-height: 70px;
}

.toolbar-player i {
    font-size: 35px;
    height: 70px;
    line-height: 70px;
    width: 100%;
}