@import url('../fonts/SanFrancisco/stylesheet.css');

:root {
    --f7-navbar-height: 50px;
    --f7-list-item-min-height: 56px
}

html, body {
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.swipe-handler {
    height: 16px;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    background: #fff;
    cursor: pointer;
    z-index: 10;
}

.swipe-handler:after {
    content: '';
    width: 36px;
    height: 6px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -18px;
    margin-top: -3px;
    border-radius: 3px;
    background: #666
}

.sheet-player .preloader {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 50px;
    height: 50px;
}

.sheet-player .duration, .sheet-player .current-time {
    width: 50px !important;
}

.sheet-player .audio-title {
    font-size: 23px;
    font-weight: bold;
    white-space: nowrap;
}

.sheet-player .audio-controls i {
    font-size: 55px;
}

.sheet-player {
    height:300px;
    --f7-sheet-bg-color: #fff;
}

.toolbar-player {
    z-index: 9999;
    font-size: 18px;
    --f7-toolbar-height: 70px;
}

.toolbar-player .row {
    width: 100%;
}

.toolbar-player .controls {
    background: #f7f7f8;
    z-index: 9;
}

.toolbar-player .audio-title {
    height: 70px;
    line-height: 70px;
}

.toolbar-player i {
    font-size: 35px;
    height: 70px;
    line-height: 70px;
}

.marquee {
    animation: marquee 15s linear infinite;
    width: fit-content;
}


@keyframes marquee {
    0%   {
        transform: translateX(50%);
    }
    100% {

        transform: translateX(-100%);
    }
}