@import url('../fonts/SanFrancisco/stylesheet.css');

:root {
    --f7-navbar-height: 50px;
    --f7-list-item-min-height: 56px
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.device-android * {
    touch-action: manipulation;
}

html, body {
    overflow: hidden;
}

.view {
    background: #eee;
}

::-webkit-scrollbar {
    display: none;
}

.swipe-handler {
    height: 30px;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    cursor: pointer;
    z-index: 10;
}

.swipe-handler:after {
    content: '';
    width: 36px;
    height: 6px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -18px;
    margin-top: -3px;
    border-radius: 3px;
    background: #666;
}

.sheet-player .preloader-block .text {
    position: absolute;
    top: 55%;
    font-size: 18px;
}

.sheet-player .preloader {
    position: absolute;
    top: 40%;
    left: calc(50% - 25px);
    width: 50px;
    height: 50px;
}

.sheet-player .duration, .sheet-player .current-time {
    width: 50px !important;
    position: absolute;
    bottom: -15px;
}

.sheet-player .hadis {
    font-size: 12px;
}

.sheet-player .current-time {
    left: 0px;
}

.sheet-player .duration {
    right: 0px;
}

.sheet-player .range-audio-block {
    position: relative;
    margin-bottom: 40px;
    margin-top: 40px;
    --f7-range-knob-size: 10px;
    --f7-range-knob-color: var(--f7-theme-color)
}

.sheet-player .audio-title {
    font-size: 23px;
    font-weight: bold;
    white-space: normal;
    color: #5b5b5b;
}

.sheet-player.size-medium .audio-title {
    font-size: 18px;
}

.sheet-player.size-small .audio-title {
    font-size: 16px;
}

.sheet-player .audio-controls {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 350px;
}

.sheet-player .audio-controls i {
    font-size: 50px;
    color: #5b5b5b;
}

.sheet-player .audio-controls .small {
    font-size: 30px;
    --f7-typography-margin: 25px;
}

.sheet-player {
    height:430px;
    --f7-sheet-bg-color: #f3f3f3;
    border-radius: 10px 10px 0px 0px;
    --f7-sheet-transition-duration: .5s;
}

.sheet-player.size-medium {
    height: 460px;
}

.sheet-player.size-small {
    height: 480px;
}

.sheet-player .share-button-block {
    position: absolute;
    bottom: 25px;
}

.toolbar-player {
    z-index: 9999;
    font-size: 18px;
    --f7-toolbar-height: 70px;
    background: #f7f7f8 !important;
    bottom: 70px;
}

.toolbar-player .row {
    width: 100%;
}

.toolbar-player .controls {
    background: #f7f7f8;
    z-index: 9;
}

.toolbar-player .audio-title {
    height: 70px;
    line-height: 70px;
}

.toolbar-player i {
    font-size: 35px;
    height: 70px;
    line-height: 70px;
    width: 100%;
}